<!DOCTYPE html>
<html ng-app="VisualDB" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="VSPavlov"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Start page</title>
    <link rel="stylesheet" href = "../static/angularjs/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.css}"/>
    <link rel="stylesheet" href = "../static/angularjs/bootstrap-theme.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" href = "../static/angularjs/style.css"/>
    <script src = "../static/angularjs/angular.js" th:src = "@{/webjars/angularjs/1.3.15/angular.js}"></script>
    <script src = "../static/angularjs/controllers/visualdb.js" th:src = "@{/angularjs/controllers/visualdb.js}"></script>
    <script src = "../static/angularjs/filters/customFilters.js" th:src = "@{/angularjs/filters/customFilters.js}"></script>
    <script src = "../static/angularjs/controllers/deviceListControllers.js" th:src = "@{/angularjs/controllers/deviceListControllers.js}"></script>
    <!--<script>angular.module("VisualDB",[])</script>-->
</head>

<body ng-controller = "visualDbCtrl">

<div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">VISUAL DB</a>
</div>
<div class="panel panel-default row" ng-controller="deviceListCtrl">
    <div class="col-xs-3">
        <a ng-click="selectType()"
           class="btn btn-block btn-default btn-lg">All</a>
        <!--'-->
        <a ng-repeat="item in devices | orderBy:'devicetype'| unique: 'devicetype'"
           ng-click="selectType(item)" class=" btn btn-block btn-default btn-lg" ng-class="getTypeClass(item)">
            {{item}}
        </a>
    </div>
    <div class="col-xs-8">
        <!--<p th:text = "${model}"/>-->
        <div class="btn-group" >
           <h3>
            <a ng-click = "selectItemsOnPage(3)" ng-class ="getItemsOnPageClass(3)" class="btn btn-default">3</a>
            <a ng-click = "selectItemsOnPage(5)" ng-class ="getItemsOnPageClass(5)" class="btn btn-default">5</a>
            <a ng-click = "selectItemsOnPage(10)" ng-class ="getItemsOnPageClass(10)" class="btn btn-default">10</a>
            </h3>
        </div>
        <div class="well" th:remove="all">
           <h3>
            <!--<p><span class="label label-default">Device type:</span> 3 phase</p>-->
             <!--<p><span class="label label-default">Device series:</span> 7 series</p>-->
            <strong><span class="label label-default">Device:</span> NP73E.1-10-1</strong>
        </h3>
        </div>

        <div class="well" ng-repeat="item in devices | filter: typeFilterFn | range:selectedPage:devicesOnThePage">
            <h3>
                <!--<p><span class="label label-default">Device type: </span>{{item.devicetype}}</p>-->
                <!--<p><span class="label label-default">Device series: </span>{{item.deviceseries}}</p>-->
                <strong><span class="label label-default">Device: </span>{{item.devicename}}</strong>
            </h3>
         </div>
        <div class="pull-right btn-group" >
           <a ng-repeat = "page in devices | filter: typeFilterFn |pageCounter:devicesOnThePage"
              ng-click = "selectPage($index+1)" ng-class ="getPageClass($index+1)" class="btn btn-default">{{$index+1}}</a>

        </div>
        <div ng-show="showTable">
            <!--<ng-include   src="'../angularjs/views/table.html'"></ng-include>-->
            <ng-include src="'/table'"></ng-include>
        </div>
    </div>

    <button ng-click="showOnOff()">Show</button>
</div>

</body>
</html>

<!--Thymeleaf <p th:text=""/>-->
<!--<div class="container myWrapper">-->
<!--<h1 ng-bind = "greeting">Index</h1>-->
<!--<h1>Index</h1>-->

<!--<div class="row">-->
<!--<div class="col-md-4 col-md-push-4">-->
<!--<div class="form-group">-->
<!--<label>Name:</label>-->
<!--<input name="name" class="form-control"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label>Password:</label>-->
<!--<input type="password" name="password" class="form-control"/>-->
<!--</div>-->
<!--<input type="button" class="btn btn-primary" value="Subscribe"/>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
